{
  auto_https off
}

http://localhost:5000, http://weather:5000 {
  log
  handle /api/weather {
    tracing {
      span "/api/weather"
    }
    header Content-Type "application/json"
    respond "{\"weather\": \"rainy\"}"
  }

  handle {
    respond 404
  }
}